<!DOCTYPE html>
<html lang="en" ag-app>
<head>
  <title>Dashbord</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.all.js"></script>
  
  <script type="text/javascript">
    function disableact(tex , y, z) {
    document.getElementById(y+z).onchange = function() {
    document.getElementById(tex+z).disabled = !this.checked;
    };
  }
  </script>

  <style>
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
        background-color: #ECEFF1;
      }
      input[type=text] {
          width: 130px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          background-image: url('asset/image/searching.png');
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
      }

      input[type=text]:focus {
          width: 100%;
      }
    </style>
</head>
<body ">
      <div class="bs-example">
          <%- include header.ejs %>
      </div>

      </br>
      </br>

<!--customer deteis and 1st grid--------------------> 


    <div class="row-md-*">
     
<!--customer details and 1st grid end point--------------------> 

   <!-- add, post details and 2nd grid--------------------> 
        <!-- Main content -->
    <section class="content">

      <div class="row">
        
        <!-- /.col -->
		<div class="col-md-2">
		</div>
        <div class="col-md-7">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Suppliers</a></li>
              <li><a href="#timeline" data-toggle="tab">___</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
			       
				      <h3>Existing Suppliers</h3>
                  <table class="table table-hover">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Contact Num</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% 
                      if(supplier.length){ 
                      for(var i = 0;i < supplier.length;i++) { 
                    %>
                    <tr >
                      <form class="success" action="/editsup" method="post">
                      <td><lable></lable></td>  
                      <td class="success"> <input  type="text" name="catname" class="form-control"  value="<%= supplier[i].name %>" > </td>
                      <td class="success"> <input  type="text" name="catdes" class="form-control"  value="<%= supplier[i].description %>" > </td>
                      <td class="success"> <input  type="text" name="catcon" class="form-control"  value="<%= supplier[i].contact %>" > </td>

                      <td>
                        <input type="hidden" name="catid" class="form-control"  value="<%= supplier[i].idsupplier %>">
                        <label><input type="checkbox" class="agree" id="<%= supplier[i].idsupplier + 'sup' %>" onclick="disableact('<%= supplier[i].name %>', '<%= supplier[i].idsupplier %>', 'sup')"> Edit <br/></label><button type="submit" class="btn btn-warning" id="<%= supplier[i].name + 'sup' %>" disabled>Save</button>
                      </td>

                      </form>

                    </tr>
                    <%
                        }
                      }
                    %>
                  <tbody>
                  </table>

               
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="timeline">
                <div class="pannel">
                    
                </div>
                
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
		<div class="col-md-3">
		<!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
				    <h3>Add New Supplier </h3>
                <div class="pannel">

                  <hr/>
                  <form action="/addsup" method="post">
                  <div class="form-group">
                    <label>Supplier Name</label>
                    <input type="text" class="form-control"  placeholder="Supplier" name="name">
                  </div>
                  <div class="form-group">
                    <label>Contact</label>
                    <input type="text" class="form-control"  placeholder="Contact Number" name="cont">
                  </div>
                  <div class="form-group">
                  <label>For Which store</label>
                  <select name="store" class="form-control">
                      <%      
                        if(store.length){ 
                        for(var i = 0;i < store.length;i++) { 
                      %>
                      <option value="<%=store[i].idstore%>" ><%=store[i].name%></option>
                      <%      
                        }
                      } 
                      %>
                  </select>
                  </div>
                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"  rows="3" name="desc"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary mb-2">Insert</button>
                  </div>
                  </form>


                </div>
            </div>
            <!-- /.box-body -->
          </div>
        
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->


  
   
   
</div>






</div>
</div>


    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})
    </script>
 
 


</body>
</html>
